/* ===== Reset básico ===== */
body {
    margin: 0;
    font-family: "ADLaM Display", sans-serif;
    background-color: #8cc86c;
    /* Verde fondo */
    color: black;
}


/* ===== Barra superior ===== */

.topbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.nav-btn {
    background: #bfe0a8;
    border: none;
    padding: 10px 18px;
    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
}

.nav-btn.warning {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-btn.dcha {
    margin-left: auto;
}


/* ===== Contenido principal ===== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 60px; */
}


/* ===== Tarjeta cuenta atrás ===== */

.countdown-card {
    background: rgba(255, 255, 255, 0.3);
    padding: 35px 60px;
    border-radius: 28px;
    text-align: center;
    margin-bottom: 60px;
}

.countdown-card h2 {
    font-size: 48px;
    margin: 0;
}

.countdown {
    font-size: 60px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.9);
}


/* ===== Botones grandes ===== */

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.big-btn {
    background: #bfe0a8;
    border: none;
    padding: 18px 60px;
    font-size: 36px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 6px;
}


/* ===== Input ID ===== */

.pool-input {
    font-size: 30px;
    padding: 12px;
    width: 260px;
    text-align: center;
    border: none;
    background: #eaeaea;
    border-radius: 4px;
    font-family: inherit;
}

.logo {
    width: 20%;
}


/* Contenedor */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Botón usuario */
.dropdown-btn {
    background: #bfe0a8;
    border: none;
    padding: 12px 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 6px;
}

/* ===== MENÚ ===== */

.dropdown-menu {
    display: none;

    position: absolute;
    top: calc(100% + 8px);

    /* 🔥 CLAVE: alineado a la derecha */
    right: 8px;

    background: #ffffff;
    min-width: 200px;

    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    overflow: hidden;
    z-index: 1000;
}

/* Botones del menú */
.dropdown-menu button {
    width: 100%;
    padding: 14px 18px;

    border: none;
    background: white;

    text-align: left;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background: #eaf5e2;
    /* tono verde suave */
}

.alias-box {

    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px;
    border-bottom: 1px solid #ddd;

    font-size: 0.95em;

}

.alias-btn {

    background: #28a745;
    border: none;
    color: white;

    border-radius: 6px;
    padding: 4px 8px;

    cursor: pointer;

}