<!DOCTYPE html>
<html>

<head>
    <title>Clasificación</title>
    <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/clasificacion_style.css">
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>

    <header class="topbar">

        <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
        <button class="nav-btn">Información</button>
        <button class="nav-btn" onclick="location.href='clasificacion.html'">Clasificación</button>
        <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>

    </header>

</body>