<!DOCTYPE html>
<html>
<head>
  <title>Mis porras</title>
  <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/misporras_style.css">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

  
<header class="topbar">
  <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
  <button class="nav-btn">Información</button>
  <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>
 
</header>

  <main>

<div class="container">

  <div class="cabecera-container">
    <h1 style="font-size: 3em;">Mis porras</h1>
    <div class="acciones-cabecera">
      <button id="btnMostrarCrear">Crear</button>
      <button id="btnUnirse">Unirse</button>
    </div>
  </div>  


<div id="listaPorras"></div>


</div>
</main>

<div id="shareModal" class="modal" style="display:none;">
  <div class="modal-content">

    <h3>Invita a participar en esta porra</h3>

    <textarea id="shareText" readonly></textarea>

    <div class="modal-buttons">
      <button id="copyBtn">Copiar</button>
      <button id="closeModal">Cerrar</button>
    </div>

  </div>
</div>

<div id="popup" class="popup" style="display:none;">
  <div class="popup-content">

    <h3 id="popupTitle"></h3>

    <input id="popupInput" type="text" maxlength="20">

    <p id="popupInfo" class="popup-info"></p>

    <div class="popup-buttons">
      <button id="popupConfirm">Confirmar</button>
      <button id="popupCancel">Cancelar</button>
    </div>

  </div>
</div>

</body>

<script type="module">

  
import { initializeApp } from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";

  import {
  getFirestore,
  collection,
  query,
  where,
  getDocs,
  doc,
  setDoc,
  getDoc,
  updateDoc,
  arrayUnion,
  deleteDoc,          // 👈 AÑADIR
  serverTimestamp
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore.js";

import {
  getAuth,
  onAuthStateChanged
} from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";



// 🔐 Config Firebase
const firebaseConfig = {
    apiKey: "AIzaSyB-ckFMY4qIC05I3LZj4nv3BJx6TtfEKt8",
    authDomain: "porra-mundial-91819.firebaseapp.com",
    projectId: "porra-mundial-91819",
    storageBucket: "porra-mundial-91819.firebasestorage.app",
    messagingSenderId: "281151008271",
    appId: "1:281151008271:web:1e1da3163adb4f2b493d7a",
    measurementId: "G-G37R8RYVXQ"
};


// 🔥 Inicializar
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);


// 📦 Elementos
const btnMostrar = document.getElementById("btnMostrarCrear");
const box = document.getElementById("crearPorraBox");
const btnCrear = document.getElementById("btnCrear");
const inputNombre = document.getElementById("nombrePorra");

const popupConfirm =
  document.getElementById("popupConfirm");


// 👁️ Mostrar / ocultar formulario
btnMostrar.onclick = () => {
  box.style.display =
    box.style.display === "none" ? "block" : "none";
};


// 🔑 Generador ID aleatorio
function generarID() {

  const chars =
    "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

  let id = "";

  for (let i = 0; i < 8; i++) {
    id += chars.charAt(
      Math.floor(Math.random() * chars.length)
    );
  }

  return id;
}


// 👤 Usuario actual
let currentUser = null;

onAuthStateChanged(auth, (user) => {
  currentUser = user;
});


btnMostrarCrear.onclick = async () => {

  // contar porras creadas por el usuario
  const q = query(
    collection(db, "porras"),
    where("owner", "==", currentUser.uid)
  );

  const snap = await getDocs(q);
  const restantes = 3 - snap.size;

  const title = document.getElementById("popupTitle");
  const input = document.getElementById("popupInput");
  const info = document.getElementById("popupInfo");

  document.getElementById("popupCancel").textContent =
  restantes <= 0 ? "Cerrar" : "Cancelar";

  if (restantes <= 0) {

  title.textContent = "Límite alcanzado";

  input.style.display = "none";

  info.textContent =
    "Has alcanzado el máximo de porras creadas. Únete a porras creadas por otros usuarios o elimina alguna porra si aún no se ha unido nadie. ";

  popupConfirm.style.display = "none";

  } else {

  title.textContent = "Crear porra";

  input.style.display = "block";
  input.value = "";
  input.placeholder = "Nombre de la porra";

  info.textContent =
    `Puedes crear un máximo de 3 porras. ${restantes} restantes`;

  popupConfirm.style.display = "inline-block";
  }

  document.getElementById("popupConfirm").onclick =
    crearPorraDesdePopup;

  document.getElementById("popup").style.display = "flex";
};

async function crearPorraDesdePopup() {

  const nombre =
    document.getElementById("popupInput").value.trim();

  if (!nombre) return;

  const id = generarID();

  await setDoc(doc(db, "porras", id), {
    ID: id,
    nombre,
    owner: currentUser.uid,
    miembros: [currentUser.uid],
    fecha_creacion: serverTimestamp()
  });

  cerrarPopup();

  await cargarMisPorras(currentUser);

  alert(`Porra "${nombre}" creada con ID ${id}`);
}

// 🏆 Crear porra
// btnCrear.onclick = async () => {

//   if (!currentUser) {
//     alert("Debes iniciar sesión");
//     return;
//   }

//   const nombre = inputNombre.value.trim();

//   if (!nombre) {
//     alert("Introduce un nombre");
//     return;
//   }

//   const id = generarID();

//   try {

//     await setDoc(doc(db, "porras", id), {

//       ID: id,
//       nombre: nombre,
//       owner: currentUser.uid,
//       miembros: [currentUser.uid],
//       fecha_creacion: serverTimestamp()

//     });
//     cargarMisPorras(currentUser);
//     alert(`Porra "${nombre}" creada con ID ${id}`);

//     inputNombre.value = "";
//     box.style.display = "none";

//   } catch (e) {

//     console.error(e);
//     alert("Error al crear la porra");

//   }

// };

async function unirsePorID() {

  const id =
    document.getElementById("popupInput").value.trim();

  if (!id) return;

  const ref = doc(db, "porras", id);
  const snap = await getDoc(ref);

  const info = document.getElementById("popupInfo");

  if (!snap.exists()) {

    info.textContent =
      "No existe ninguna porra con ese ID";
    return;

  }

  const data = snap.data();

  if (data.miembros.includes(currentUser.uid)) {

    info.textContent =
      "Ya participas en esta porra";
    return;

  }

  await updateDoc(ref, {
    miembros: arrayUnion(currentUser.uid)
  });

  cerrarPopup();

  await cargarMisPorras(currentUser);

  alert(`Te has unido a "${data.nombre}"`);
}



btnUnirse.onclick = () => {

  const title = document.getElementById("popupTitle");
  const input = document.getElementById("popupInput");
  const info = document.getElementById("popupInfo");

  title.textContent = "Unirse a una porra";

  input.style.display = "block";
  input.value = "";
  input.placeholder = "Introduce el ID";

  info.textContent = "";

  document.getElementById("popupConfirm").onclick =
    unirsePorID;

  document.getElementById("popup").style.display = "flex";
};

btnUnirse.onclick = () => {

  const title = document.getElementById("popupTitle");
  const input = document.getElementById("popupInput");
  const info = document.getElementById("popupInfo");

  title.textContent = "Unirse a una porra";

  input.style.display = "block";
  input.value = "";
  input.placeholder = "Introduce el ID";

  info.textContent = "";

  document.getElementById("popupConfirm").onclick =
    unirsePorID;

  document.getElementById("popup").style.display = "flex";
};


async function cargarMisPorras(user) {

  const q = query(
    collection(db, "porras"),
    where("miembros", "array-contains", user.uid)
  );

  const snapshot = await getDocs(q);

  const lista = document.getElementById("listaPorras");
  lista.innerHTML = "";

  if (snapshot.empty) {
    lista.innerHTML = "<p>Aún no participas en ninguna porra</p>";
    return;
  }

  snapshot.forEach(docSnap => {

    const data = docSnap.data();

    const card = document.createElement("div");
    card.className = "porra-card";

    // 👉 Abrir porra
    card.onclick = () => {
      window.location.href =
        `porra.html?id=${data.ID}`;
    };

    // NOMBRE
    const nombre = document.createElement("div");
    nombre.className = "porra-nombre";
    nombre.textContent = data.nombre;

    // LADO DERECHO
    const right = document.createElement("div");
    right.className = "porra-right";

    // PARTICIPANTES
    const miembros = document.createElement("div");
    miembros.className = "porra-miembros";

    if(data.miembros.length<2)
    {miembros.textContent = `${data.miembros.length} participante`} else
    {miembros.textContent = `${data.miembros.length} participantes`};

    // BOTÓN COMPARTIR
    const shareBtn = document.createElement("button");
    shareBtn.className = "share-btn";
    shareBtn.textContent = "🔗";

    shareBtn.onclick = (e) => {
      e.stopPropagation();
      abrirCompartir(data);
    };

    const deleteBtn = document.createElement("button");
    deleteBtn.className = "delete-btn";
    deleteBtn.textContent = "🗑️";

    // Solo si es owner y hay 1 miembro
    if (
      data.owner === currentUser.uid &&
      data.miembros.length === 1
    ) {

      deleteBtn.onclick = async (e) => {

        e.stopPropagation();

        if (!confirm("¿Eliminar esta porra?")) return;

        await deleteDoc(doc(db, "porras", data.ID));

        await cargarMisPorras(currentUser);
      };

    } else {

      deleteBtn.disabled = true;

    }

    

    right.appendChild(miembros);
    right.appendChild(shareBtn);
    right.appendChild(deleteBtn);

    card.appendChild(nombre);
    card.appendChild(right);

    lista.appendChild(card);

  });

}


onAuthStateChanged(auth, (user) => {
  if (user) {
    cargarMisPorras(user);
    console.log("porras cargadas");
  } else {
    window.location.href = "home.html";
  }
});

function abrirCompartir(data) {


  const link =
      // "http://link_de_prueba.com";
    `${window.location.origin}/unirse.html?id=${data.ID}`;

  const mensaje =
`Únete a la porra ${data.nombre} introduciendo el ID ${data.ID}

${link}`;

  document.getElementById("shareText").value = mensaje;

  document.getElementById("shareModal").style.display = "flex";

  if (navigator.share) {

    navigator.share({
      title: "Porra Mundial",
      text: `Únete a "${data.nombre}" con ID ${data.ID}`,
      url: link
    });

    return;
  }
}

document.getElementById("copyBtn").onclick = async () => {

  const text =
    document.getElementById("shareText").value;

  await navigator.clipboard.writeText(text);

  alert("Mensaje copiado");
};

document.getElementById("closeModal").onclick = () => {
  document.getElementById("shareModal").style.display = "none";
};

function cerrarPopup() {
  document.getElementById("popup").style.display = "none";
}

document.getElementById("popupCancel").onclick = cerrarPopup;

</script>


</html>