<!DOCTYPE html>
<html>
<head>
  <title>Mis predicciones</title>
  <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/mispredicciones_style.css">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

  
<header class="topbar">
  <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
  <button class="nav-btn">Información</button>
  <button class="nav-btn" onclick="location.href='clasificacion.html'">Clasificación</button>
  <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>
 
</header>

  <main>

<div class="container">

  <div class="cabecera-container">
    <h1 style="font-size: 3em;">Mis predicciones</h1>
  </div>  


<div id="listaPredicciones">
  <div class="prediccion-card" onclick="window.location.href ='prediccion_grupos.html'">
    <div class="prediccion-nombre">
      General
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_grupos.html'">
    <div class="prediccion-nombre">
      Fase de grupos
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_dieciseisavos.html'">
    <div class="prediccion-nombre">
      Dieciseisavos de final
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_octavos.html'">
    <div class="prediccion-nombre">
      Octavos de final
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_cuartos.html'">
    <div class="prediccion-nombre">
      Cuartos de final
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_semis.html'">
    <div class="prediccion-nombre">
      Semifinal
    </div>
  </div>
  <div class="prediccion-card" onclick="window.location.href ='prediccion_final.html'">
    <div class="prediccion-nombre">
      Final
    </div>
  </div>
</div>


</div>
</main>

</body>

<script src="../static/js/fases.js"></script>

<script type="module">

  
import { initializeApp } from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";

  import {
  getFirestore,
  collection,
  query,
  where,
  getDocs,
  doc,
  setDoc,
  getDoc,
  updateDoc,
  arrayUnion,
  deleteDoc,          
  serverTimestamp
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore.js";

import {
  getAuth,
  onAuthStateChanged
} from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";

// 🔐 Config Firebase
const firebaseConfig = {
    apiKey: "AIzaSyB-ckFMY4qIC05I3LZj4nv3BJx6TtfEKt8",
    authDomain: "porra-mundial-91819.firebaseapp.com",
    projectId: "porra-mundial-91819",
    storageBucket: "porra-mundial-91819.firebasestorage.app",
    messagingSenderId: "281151008271",
    appId: "1:281151008271:web:1e1da3163adb4f2b493d7a",
    measurementId: "G-G37R8RYVXQ"
};

// 🔥 Inicializar
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);


</script>


</html>