<!DOCTYPE html>
<html>
<head>
  <title>Mis predicciones</title>
  <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/mispredicciones_style.css">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

  
<header class="topbar">
  <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
  <button class="nav-btn">Información</button>
  <button class="nav-btn" onclick="location.href='clasificacion.html'">Clasificación</button>
  <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>
 
</header>

  <main>

<div class="container">

  <div class="cabecera-container">
    <h1 style="font-size: 3em;">Mis predicciones</h1>
  </div>  

<div id="listaPredicciones">

  <div class="prediccion-card" data-fase="grupos" data-url="prediccion_grupos.html">
    <div class="prediccion-nombre">Fase de grupos</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

  <div class="prediccion-card" data-fase="dieciseisavos" data-url="prediccion_dieciseisavos.html">
    <div class="prediccion-nombre">Dieciseisavos de final</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

  <div class="prediccion-card" data-fase="octavos" data-url="prediccion_octavos.html">
    <div class="prediccion-nombre">Octavos de final</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

  <div class="prediccion-card" data-fase="cuartos" data-url="prediccion_cuartos.html">
    <div class="prediccion-nombre">Cuartos de final</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

  <div class="prediccion-card" data-fase="semis" data-url="prediccion_semis.html">
    <div class="prediccion-nombre">Semifinal</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

  <div class="prediccion-card" data-fase="final" data-url="prediccion_final.html">
    <div class="prediccion-nombre">Final</div>
    <div class="prediccion-container-derecha">
      <div class="prediccion-estado"></div>
      <div class="prediccion-icono"></div>
    </div>
  </div>

</div>
</div>

</main>

</body>

<script src="../static/js/fases.js"></script>
<script src="https://kit.fontawesome.com/031b57ed49.js" crossorigin="anonymous"></script>

<script type="module">

  
import { initializeApp } from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";

  import {
  getFirestore,
  collection,
  query,
  where,
  getDocs,
  doc,
  setDoc,
  getDoc,
  updateDoc,
  arrayUnion,
  deleteDoc,          
  serverTimestamp
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore.js";

import {
  getAuth,
  onAuthStateChanged
} from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";

// 🔐 Config Firebase
const firebaseConfig = {
    apiKey: "AIzaSyB-ckFMY4qIC05I3LZj4nv3BJx6TtfEKt8",
    authDomain: "porra-mundial-91819.firebaseapp.com",
    projectId: "porra-mundial-91819",
    storageBucket: "porra-mundial-91819.firebasestorage.app",
    messagingSenderId: "281151008271",
    appId: "1:281151008271:web:1e1da3163adb4f2b493d7a",
    measurementId: "G-G37R8RYVXQ"
};

// 🔥 Inicializar
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);

onAuthStateChanged(auth, user => {

  if (!user) return;

  actualizarTarjetas();           
  setInterval(actualizarTarjetas, 60000);

});



async function prediccionCompleta(uid, fase) {

  // ========================
  // CONFIGURACIÓN
  // ========================

  const totalPorFase = {
    grupos: 72,
    dieciseisavos: 16,
    octavos: 8,
    cuartos: 4,
    semis: 2,
    final: 2
  };

  // ========================
  // 1) CARGAR DATOS FASE
  // ========================

  const ref = doc(db, "predicciones", uid, fase, "datos");
  const snap = await getDoc(ref);

  let total = 0;

  if (snap.exists()) {
    const data = snap.data();
    total = Object.keys(data).length;
  }

  // ========================
  // 2) CASO ESPECIAL: GRUPOS
  // ========================

  if (fase === "grupos") {

    const refGen = doc(db, "predicciones", uid, "general", "datos");
    const snapGen = await getDoc(refGen);

    let totalGeneral = 0;

    if (snapGen.exists()) {
      const dataGen = snapGen.data();

      if (dataGen.ganador) totalGeneral++;
      if (dataGen.finalista) totalGeneral++;
    }

    return (
      total === totalPorFase.grupos &&
      totalGeneral === 2
    );
  }

  // ========================
  // 3) RESTO DE FASES
  // ========================

  return total === totalPorFase[fase];
}

async function actualizarTarjetas() {

  const user = auth.currentUser;
  if (!user) return;

  document.querySelectorAll(".prediccion-card")
    .forEach(async card => {

      const fase = card.dataset.fase;
      const url  = card.dataset.url;

      const estado = obtenerEstadoFase(fase);
      const info = card.querySelector(".prediccion-estado");
      const icono_container = card.querySelector(".prediccion-icono");

      card.classList.remove("inactiva", "bloqueada");

      if (estado === "inactiva") {

        const f = fases[fase].activaDesde;

        info.textContent = `${tiempoRestante(f)}`;
        icono_container.innerHTML = `
          <i class="fa-solid fa-hourglass-start" style="color: #130f2b;" 
            title="La fase aún no ha comenzado"></i>
        `;
        card.classList.add("inactiva");

      }
      else if (estado === "bloqueada") {

        icono_container.innerHTML = `
          <i class="fa-solid fa-lock" style="color: white;" 
            title="Fase en curso: Predicciones bloqueadas"></i>
        `;
        card.classList.add("bloqueada");

        card.onclick = () => window.location.href = url;

      }
      else {

        const completa =
          await prediccionCompleta(user.uid, fase);

        const cierre = fases[fase].bloqueadaDesde;

        info.innerHTML = " Cierra en " + tiempoRestante(cierre);
        icono_container.innerHTML = completa
        ? `<i class="fa-solid fa-circle-check" style="color: #8cc86c" 
            title="Tus predicciones están al día"></i>`
        : `<i class="fa-solid fa-triangle-exclamation" style="color: yellow" 
            title="Completa tus predicciones antes de que cierre"></i>`;

        card.onclick = () => window.location.href = url;

      }

    });
}

function tiempoRestante(fecha) {

  const diff = fecha - new Date();

  if (diff <= 0) return "0h";

  const horas = Math.floor(diff / 3600000);
  const dias = Math.floor(horas / 24);

  return dias > 0
    ? `${dias}d ${horas % 24}h`
    : `${horas}h`;
}




</script>


</html>