
<!DOCTYPE html>
<html>
<head>
  <title>Predicción fase de grupos</title>
  <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/prediccion_grupos_style.css">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

<header class="topbar">

  <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
  <button class="nav-btn">Información</button>
  <button class="nav-btn" onclick="location.href='clasificacion.html'">Clasificación</button>
  <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>
  <button class="nav-btn" onclick="location.href='mispredicciones.html'">Mis Predicciones</button>

  <button id="guardarBtn" class="guardar">
  Guardar predicción
</button>
 
</header>

<main>

<div id="predicciones-generales">

  <h2>Predicciones generales</h2>
  <div style="display: flex; align-items: center;width: 100%">
    <i class="fa-solid fa-trophy" style="font-size:2em; color: rgb(236, 203, 70)"></i>
    <div class="campo">
      <label>Ganador</label>
      <div class="selector" data-tipo="ganador"></div>
    </div>
  </div>

  <div style="display: flex; align-items: center;width: 100%">
    <i class="fa-solid fa-medal" style="font-size:2em; color: rgb(174, 169, 148)"></i>
    <div class="campo">
      <label>Finalista</label>
      <div class="selector" data-tipo="finalista"></div>
    </div>
  </div>

</div>

<h1>Fase de grupos</h1>

<button id="btnSimular">Simular fase eliminatoria</button>

<div id="bracket" class="bracket hidden"></div>


<div id="contenedorGrupos"></div>

<!-- Picker flotante -->
<div id="picker" class="picker" style="display:none;"></div>

</main>

</body>

<script src="https://kit.fontawesome.com/031b57ed49.js" crossorigin="anonymous"></script>
<script src="../static/js/codigos_paises.js"></script>
<script src="../static/js/fases.js"></script>
<script src="../static/js/combis_16.js"></script>
<script src="../static/js/emparejamientos.js"></script>
<script type="module">


import { initializeApp } from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";


import {
  getFirestore,
  doc,
  getDoc,
  setDoc,
  collection,
  getDocs
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore.js";

import {
  getAuth,
  onAuthStateChanged
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";

const firebaseConfig = {
    apiKey: "AIzaSyB-ckFMY4qIC05I3LZj4nv3BJx6TtfEKt8",
    authDomain: "porra-mundial-91819.firebaseapp.com",
    projectId: "porra-mundial-91819",
    storageBucket: "porra-mundial-91819.firebasestorage.app",
    messagingSenderId: "281151008271",
    appId: "1:281151008271:web:1e1da3163adb4f2b493d7a",
    measurementId: "G-G37R8RYVXQ"
};

// 🔥 Inicializar
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);


// Si ya empezó la fase de grupos, se bloquea y no permite cambiar predicciones

const estado = obtenerEstadoFase("grupos");
const editable = estado === "activa";



onAuthStateChanged(auth, async (user) => {
  if (!user) {
    window.location.href = "home.html";
    return;
  }
});

async function cargarTodasLasPredicciones() {

  const user = auth.currentUser;
  if (!user) return;

  const uid = user.uid;

  // ========================
  // 1) CARGAR GRUPOS
  // ========================

  const refGrupos = doc(db, "predicciones", uid, "grupos", "datos");
  const snapGrupos = await getDoc(refGrupos);

  if (snapGrupos.exists()) {

    const data = snapGrupos.data();

    predicciones.forEach(p => {

      const pred = data[p.Numero];

      if (pred) {
        p.g1 = pred.g1;
        p.g2 = pred.g2;
      }

    });

    actualizarUIconPredicciones();
  }

  // ========================
  // 2) CARGAR GENERALES
  // ========================

  const refGeneral = doc(db, "predicciones", uid, "general", "datos");
  const snapGeneral = await getDoc(refGeneral);

  if (snapGeneral.exists()) {

    const data = snapGeneral.data();

    selGanador.setValor(data.ganador);
    selFinalista.setValor(data.finalista);
  }
}

// async function cargarPredicciones() {
//   console.log("predicciones cargadas")

//   const user = auth.currentUser;
//   if (!user) return;

//   const ref = doc(db, "predicciones", user.uid);
//   const snap = await getDoc(ref);

//   if (!snap.exists()) return;

//   const data = snap.data();

//   // recorrer partidos cargados
//   predicciones.forEach(p => {

//     const pred = data[p.Numero];

//     if (pred) {
//       p.g1 = pred.g1;
//       p.g2 = pred.g2;
//     }

//   });

//   actualizarUIconPredicciones();
// }

function actualizarUIconPredicciones() {

  document.querySelectorAll(".partido").forEach(div => {

    const id = div.dataset.id;

    const p = predicciones.find(x => x.Numero == id);
    if (!p) return;

    const goles = div.querySelectorAll(".gol");

    if (p.g1 !== null) goles[0].textContent = p.g1;
    if (p.g2 !== null) goles[1].textContent = p.g2;

  });

  // recalcular clasificaciones
  Object.keys(gruposGlobal)
    .forEach(actualizarClasificacion);
}

let gruposGlobal = {};
let predicciones = [];
let grupos = {};


const contenedor = document.getElementById("contenedorGrupos");
let mejoresTerceros = [];

async function cargarPartidosGrupos() {

  const snapshot = await getDocs(collection(db, "partidos"));

  // const grupos = {};

  snapshot.forEach(doc => {

    const p = doc.data();

    if (!p.Fase.startsWith("Grupo")) return;

    // console.log(p.Pais1);

    if (!grupos[p.Fase]) grupos[p.Fase] = [];

    grupos[p.Fase].push(p);

  });

  predicciones = [];
  gruposGlobal = grupos;
  console.log(grupos);
  mostrarGrupos(grupos);
}



function parseFechaHora(p) {

  const [d, m, a] = p.Fecha.split("/");
  const [h, min] = p.Hora.split(":");

  return new Date(a, m - 1, d, h, min);

}

function formatearFecha(p) {

  const meses = [
    "Ene","Feb","Mar","Abr","May","Jun",
    "Jul","Ago","Sep","Oct","Nov","Dic"
  ];

  const [d, m] = p.Fecha.split("/");

  return `${parseInt(d)} ${meses[m - 1]} · ${p.Hora}`;
}



// async function cargarPrediccionesGenerales() {

//   const user = auth.currentUser;
//   if (!user) return;

//   const ref = doc(db, "predicciones", user.uid, "general", "datos");
//   const snap = await getDoc(ref);

//   if (!snap.exists()) return;

//   const data = snap.data();

//   selGanador.setValor(data.ganador);
//   selFinalista.setValor(data.finalista);
// }


function actualizarUIconPrediccionesGenerales(data) {

  if (!data) return;

  document.getElementById("inputGanador").value = data.ganador || "";
  document.getElementById("inputFinalista").value = data.finalista || "";
}


function obtenerEquipos(grupos) {

  const set = new Set();

  Object.values(grupos).forEach(partidos => {
    partidos.forEach(p => {
      set.add(p.Pais1);
      set.add(p.Pais2);
    });
  });

  return Array.from(set).sort();
}


function aplicarEstadoEdicion() {

  const estado = obtenerEstadoFase("grupos");
  const editable = estado === "activa";

  selGanador.setEditable(editable);
  selFinalista.setEditable(editable);
}

function crearSelector(container, equipos) {


  let seleccionado = null;

  container.innerHTML = `
    <div class="selector-input"></div>
    <div class="dropdown"></div>
  `;

  const input = container.querySelector(".selector-input");
  const dropdown = container.querySelector(".dropdown");

  function renderOpciones(filtro = "") {

    dropdown.innerHTML = "";

    equipos
      .filter(eq => eq.toLowerCase().includes(filtro.toLowerCase()))
      .forEach(eq => {

        const codigo = codigos_pais[eq];

        const div = document.createElement("div");
        div.className = "opcion";

        div.innerHTML = `
          <img src="https://flagcdn.com/w40/${codigo}.png">
          ${eq}
        `;

        div.onclick = () => {
          seleccionado = eq;
          input.innerHTML = `
            <img src="https://flagcdn.com/w40/${codigo}.png">
            ${eq}
          `;
          container.classList.remove("open");
        };

        dropdown.appendChild(div);
      });
  }

  input.onclick = () => {
    container.classList.toggle("open");
    renderOpciones();
  };
  // 🔥 búsqueda escribiendo
  input.contentEditable = true;
  input.oninput = () => {
    renderOpciones(input.textContent);
  };
  // cerrar al hacer click fuera
  document.addEventListener("click", e => {
    if (!container.contains(e.target)) {
      container.classList.remove("open");
    }
  });

  return {
    getValor: () => seleccionado,
    setValor: (eq) => {
      if (!eq) return;
      const codigo = codigos_pais[eq];
      seleccionado = eq;
      input.innerHTML = `
        <img src="https://flagcdn.com/w40/${codigo}.png">
        ${eq}
      `;
    },
    setEditable: (editable) => {
      input.contentEditable = editable;
      input.style.opacity = editable ? "1" : "0.6";
    }
  };
}

await cargarPartidosGrupos();
const equipos = obtenerEquipos(gruposGlobal);

const selGanador = crearSelector(
  document.querySelector('[data-tipo="ganador"]'),
  equipos
);

const selFinalista = crearSelector(
  document.querySelector('[data-tipo="finalista"]'),
  equipos
);



function mostrarGrupos(grupos) {

  contenedor.innerHTML = "";

  // ORDEN ALFABÉTICO DE GRUPOS
  const nombresOrdenados = Object.keys(grupos).sort();

  for (const nombreGrupo of nombresOrdenados) {

    const divGrupo = document.createElement("div");
    divGrupo.className = "grupo";

    divGrupo.innerHTML = `<h2>${nombreGrupo}</h2>`;

    // 🔥 ORDENAR PARTIDOS CRONOLÓGICAMENTE
    grupos[nombreGrupo].sort(
      (a, b) => parseFechaHora(a) - parseFechaHora(b)
    );

    // ===== CONTENEDOR PARTIDOS =====

    const listaPartidos = document.createElement("div");

    grupos[nombreGrupo].forEach(p => {
      p.g1 = null;
      p.g2 = null;
      predicciones.push(p);
      listaPartidos.appendChild(crearPartido(p, nombreGrupo));
    });

    // ===== CLASIFICACIÓN INICIAL =====

    // console.log(mejoresTerceros);
    const tablaClasif =
      crearTablaClasificacion(grupos[nombreGrupo], grupos);

    // ===== LAYOUT GRID =====

    const layout = document.createElement("div");
    layout.className = "grupo-layout";

    layout.appendChild(listaPartidos);
    layout.appendChild(tablaClasif);

    divGrupo.appendChild(layout);

    contenedor.appendChild(divGrupo);
  }
}

function crearPartido(p, nombreGrupo) {

  p.g1 = null;
  p.g2 = null;

  const div = document.createElement("div");
  div.className = "partido";
  div.dataset.id = p.Numero;

  const codigo1 = codigos_pais[p.Pais1];
  const codigo2 = codigos_pais[p.Pais2];

  div.innerHTML = `
    <div class="fecha">${formatearFecha(p)}</div>

    <div class="equipo">${p.Pais1}</div>
    <img class="bandera" src="https://flagcdn.com/w40/${codigo1}.png">

    <div class="gol">-</div>
    <div class="gol">-</div>

    <img class="bandera" src="https://flagcdn.com/w40/${codigo2}.png">
    <div class="equipo derecha">${p.Pais2}</div>
  `;

  const goles = div.querySelectorAll(".gol");

  // ⭐ SOLO si editable
  if (editable) {

    goles[0].onclick = () =>
      abrirPicker(goles[0], val => {
        goles[0].textContent = val;
        p.g1 = val;
        actualizarClasificacion(nombreGrupo);
      });

    goles[1].onclick = () =>
      abrirPicker(goles[1], val => {
        goles[1].textContent = val;
        p.g2 = val;
        actualizarClasificacion(nombreGrupo);
      });

  } else {

    // ⭐ Visualmente bloqueados
    goles.forEach(g => {
      g.style.opacity = "0.6";
      g.style.cursor = "default";
    });

  }

  return div;
}

function actualizarClasificacion(nombreGrupo) {

  // 🔥 recalcular terceros globales
  const mejoresTerceros = obtenerMejoresTerceros(grupos);

  // 🔥 recorrer TODOS los grupos
  document.querySelectorAll(".grupo").forEach(grupoDiv => {

    const nombre = grupoDiv.querySelector("h2").textContent;

    const partidosGrupo = grupos[nombre];

    const nuevaTabla =
      crearTablaClasificacion(partidosGrupo, mejoresTerceros);

    const layout = grupoDiv.querySelector(".grupo-layout");

    layout.replaceChild(
      nuevaTabla,
      layout.children[1]
    );

  });
}


const picker = document.getElementById("picker");
let callbackActual = null;

function abrirPicker(elemento, callback) {

  callbackActual = callback;

  const rect = elemento.getBoundingClientRect();

  picker.style.left = rect.left + "px";
  picker.style.top = rect.bottom + 5 + "px";

  picker.style.display = "grid";

  mostrarOpciones();
}

function mostrarOpciones() {

  picker.innerHTML = "";

  for (let i = 0; i <= 10; i++) {

    const n = document.createElement("div");
    n.textContent = i;

    n.onclick = () => {

      callbackActual(i);
      picker.style.display = "none";

    };

    picker.appendChild(n);
  }
}

document.addEventListener("click", e => {
  if (!picker.contains(e.target) &&
      !e.target.classList.contains("gol")) {
    picker.style.display = "none";
  }
});

function obtenerMejoresTerceros(grupos) {
  const terceros = [];
  Object.values(grupos).forEach(partidos => {
    const clasif = calcularClasificacion(partidos);
    if (clasif.length >= 3) {
      terceros.push(clasif[2]); // tercer clasificado
    }

  });

  return terceros
    .sort((a, b) =>
      b.pts - a.pts ||
      b.dg - a.dg ||
      b.gf - a.gf
    )
    .slice(0, 8)
    .map(t => t.equipo);
}

function calcularClasificacion(partidos) {

  const tabla = {};

  partidos.forEach(p => {

    const g1 = p.g1;
    const g2 = p.g2;

    if (g1 === null || g2 === null) return;

    if (!tabla[p.Pais1]) {
      tabla[p.Pais1] = { pts:0, g:0, e:0, p:0, gf:0, gc:0 };
    }

    if (!tabla[p.Pais2]) {
      tabla[p.Pais2] = { pts:0, g:0, e:0, p:0, gf:0, gc:0 };
    }

    tabla[p.Pais1].gf += g1;
    tabla[p.Pais1].gc += g2;

    tabla[p.Pais2].gf += g2;
    tabla[p.Pais2].gc += g1;

    if (g1 > g2) {
      tabla[p.Pais1].pts += 3;
      tabla[p.Pais1].g++;
      tabla[p.Pais2].p++;
    }
    else if (g2 > g1) {
      tabla[p.Pais2].pts += 3;
      tabla[p.Pais2].g++;
      tabla[p.Pais1].p++;
    }
    else {
      tabla[p.Pais1].pts++;
      tabla[p.Pais2].pts++;
      tabla[p.Pais1].e++;
      tabla[p.Pais2].e++;
    }

  });

  return Object.entries(tabla)
    .map(([equipo, t]) => ({
      equipo,
      ...t,
      dg: t.gf - t.gc
    }))
    .sort((a, b) =>
      b.pts - a.pts ||
      b.dg - a.dg ||
      b.gf - a.gf
    );
}


function crearTablaClasificacion(partidos, mejoresTerceros = []) {

  const clasif = calcularClasificacion(partidos);

  const table = document.createElement("table");
  table.className = "tabla-clasif";

  table.innerHTML = `
    <tr>
      <th></th>
      <th>Pts</th>
      <th>G</th>
      <th>E</th>
      <th>P</th>
      <th>DG</th>
      <th>GF</th>
      <th>GC</th>
    </tr>
  `;

  clasif.forEach((t, i) => {
  let clase = "";
  if (i < 2) {
    clase = "clasificado"; // azul
  }
  else if (i === 2 && mejoresTerceros.includes(t.equipo)) {
    clase = "mejor-tercero"; // amarillo
  }
  const codpais = codigos_pais[t.equipo];
    table.innerHTML += `
      <tr class="${clase}">
        <td>${i+1}. <img class="bandera" src="https://flagcdn.com/w40/${codpais}.png"> ${t.equipo}</td>
        <td>${t.pts}</td>
        <td>${t.g}</td>
        <td>${t.e}</td>
        <td>${t.p}</td>
        <td>${t.dg}</td>
        <td>${t.gf}</td>
        <td>${t.gc}</td>
      </tr>
    `;
  });

  return table;
}

// guardarBtn.onclick = async () => {
//   const user = auth.currentUser;
//   if (!user) {
//     alert("Debes iniciar sesión");
//     return;
//   }
//   const data = {};
//   predicciones.forEach(p => {
//     if (p.g1 !== null && p.g2 !== null) {
//       data[p.Numero] = {
//         g1: p.g1,
//         g2: p.g2
//       };
//     }
//   });

//   await setDoc(
//     doc(db, "predicciones", user.uid),
//     data
//   );

//   alert("Predicción guardada");
// };

guardarBtn.onclick = async () => {

  const user = auth.currentUser;

  if (!user) {
    alert("Debes iniciar sesión");
    return;
  }

  const uid = user.uid;

  // ========================
  // 1) GUARDAR GRUPOS
  // ========================

  const dataGrupos = {};

  predicciones.forEach(p => {
    if (p.g1 !== null && p.g2 !== null) {
      dataGrupos[p.Numero] = {
        g1: p.g1,
        g2: p.g2
      };
    }
  });

  // ========================
  // 2) GUARDAR GENERALES
  // ========================

  const ganador = selGanador.getValor();
  const finalista = selFinalista.getValor();

  const dataGeneral = {
    ganador: ganador || null,
    finalista: finalista || null
  };

  // ========================
  // 3) GUARDAR TODO
  // ========================

  await Promise.all([
    setDoc(
      doc(db, "predicciones", uid, "grupos", "datos"),
      dataGrupos
    ),
    setDoc(
      doc(db, "predicciones", uid, "general", "datos"),
      dataGeneral
    )
  ]);

  alert("Predicciones guardadas");
};

import { generarCuadroEliminatorias } from "../static/js/pipeline_eliminatorias.js";



const btn = document.getElementById("btnSimular");
const contenedor_bracket = document.getElementById("bracket");

let partidosGlobal = {};

const estructura = {
  izquierda: {
    dieciseisavos: [74,77,73,75,83,84,81,82],
    octavos: [89,90,93,94],
    cuartos: [97,98],
    semis: [101]
  },
  derecha: {
    dieciseisavos: [86,88,85,87,76,78,79,80],
    octavos: [95,96,91,92],
    cuartos: [100,99],
    semis: [102]
  },
  centro: {
    final: [104],
    tercer: [103]
  }
};

btn.onclick = () => {
  partidosGlobal = generarCuadroEliminatorias(grupos, combinaciones, emparejamientos);
  contenedor_bracket.classList.remove("hidden");
  renderBracket(partidosGlobal);
};


function renderBracket(partidos) {

  contenedor_bracket.innerHTML = "";

  const izq = crearLado(estructura.izquierda, partidos, false);
  const der = crearLado(estructura.derecha, partidos, true);

  const centro = crearCentro(partidos);

  contenedor_bracket.appendChild(izq);
  contenedor_bracket.appendChild(centro);
  contenedor_bracket.appendChild(der);
}


function crearLado(config, partidos, invertido = false) {

  const lado = document.createElement("div");
  lado.className = "lado";

  let rondas = Object.entries(config);

  // 🔥 invertir orden para el lado derecho
  if (invertido) {
    rondas = rondas.reverse();
    // lado.style.flexDirection = "row-reverse";
  }


  rondas.forEach(([ronda, partidosNums]) => {

    const col = document.createElement("div");
    col.className = "ronda";

    partidosNums.forEach(num => {
      col.appendChild(crearPartidoBracket(num, partidos));
    });

    lado.appendChild(col);
  });

  return lado;
}


function crearCentro(partidos) {

  const div = document.createElement("div");
  div.className = "centro";

  estructura.centro.final.forEach(n => {
    const p = crearPartidoBracket(n, partidos);
    p.classList.add("final");
    div.appendChild(p);
  });

  estructura.centro.tercer.forEach(n => {
    div.appendChild(crearPartidoBracket(n, partidos));
  });

  return div;
}

function crearPartidoBracket(num, partidos) {

  const p = partidos[num];

  const div = document.createElement("div");
  div.className = "partido-bracket";

  const e1 = crearEquipo(p.Pais1, num, 1);
  const e2 = crearEquipo(p.Pais2, num, 2);

  if (p.ganador === p.Pais1) e1.classList.add("ganador");
  if (p.ganador === p.Pais2) e2.classList.add("ganador");

  div.appendChild(e1);
  div.appendChild(e2);

  return div;
}

function crearEquipo(nombre, numPartido, lado) {

  const div = document.createElement("div");
  div.className = "equipo";
  const codigo = codigos_pais[nombre];
  div.innerHTML = `<img class="bandera" src="https://flagcdn.com/w40/${codigo}.png">` || "-";

  div.onclick = () => {

    if (!nombre) return;

    const p = partidosGlobal[numPartido];

    if (lado === 1) {
      p.ganador = p.Pais1;
      p.perdedor = p.Pais2;
    } else {
      p.ganador = p.Pais2;
      p.perdedor = p.Pais1;
    }

    avanzarGanador(numPartido);

    renderBracket(partidosGlobal);
  };

  return div;
}

function avanzarGanador(num) {

  Object.values(emparejamientos).forEach(e => {

    if (e.pais1 === "W"+num) {
      partidosGlobal[e.Numero].Pais1 = partidosGlobal[num].ganador;
    }

    if (e.pais2 === "W"+num) {
      partidosGlobal[e.Numero].Pais2 = partidosGlobal[num].ganador;
    }

    if (e.pais1 === "L"+num) {
      partidosGlobal[e.Numero].Pais1 = partidosGlobal[num].perdedor;
    }

    if (e.pais2 === "L"+num) {
      partidosGlobal[e.Numero].Pais2 = partidosGlobal[num].perdedor;
    }

  });
}

cargarTodasLasPredicciones();
aplicarEstadoEdicion();



</script>


</html>