
<!DOCTYPE html>
<html>
<head>
  <title>Predicción general</title>
  <link rel="icon" href="../static/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/prediccion_general_style.css">
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

<header class="topbar">

  <button class="nav-btn" onclick="location.href='home.html'">Inicio</button>
  <button class="nav-btn">Información</button>
  <button class="nav-btn" onclick="location.href='clasificacion.html'">Clasificación</button>
  <button class="nav-btn" onclick="location.href='calendario-resultados.html'">Calendario y Resultados</button>
  <button class="nav-btn" onclick="location.href='mispredicciones.html'">Mis Predicciones</button>

 
</header>

<main>

<h1>Predicción general</h1>

<button id="btnSimular">Simular fase eliminatoria</button>

<div id="bracket" class="bracket hidden"></div>

<div id="predicciones-generales">

  <h2>Predicciones generales</h2>

  <div class="campo">
    <label>Ganador</label>
    <div class="selector" data-tipo="ganador"></div>
  </div>

  <div class="campo">
    <label>Finalista</label>
    <div class="selector" data-tipo="finalista"></div>
  </div>

  <button id="guardarGenerales">Guardar predicción</button>

</div>

</main>

</body>

<script src="../static/js/codigos_paises.js"></script>
<script src="../static/js/fases.js"></script>
<script src="../static/js/combis_16.js"></script>
<script src="../static/js/emparejamientos.js"></script>
<script type="module">


import { initializeApp } from
  "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";


import {
  getFirestore,
  doc,
  getDoc,
  setDoc,
  collection,
  getDocs
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-firestore.js";

import {
  getAuth,
  onAuthStateChanged
} from "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";

const firebaseConfig = {
    apiKey: "AIzaSyB-ckFMY4qIC05I3LZj4nv3BJx6TtfEKt8",
    authDomain: "porra-mundial-91819.firebaseapp.com",
    projectId: "porra-mundial-91819",
    storageBucket: "porra-mundial-91819.firebasestorage.app",
    messagingSenderId: "281151008271",
    appId: "1:281151008271:web:1e1da3163adb4f2b493d7a",
    measurementId: "G-G37R8RYVXQ"
};

// 🔥 Inicializar
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const db = getFirestore(app);


// Si ya empezó la fase de grupos, se bloquea y no permite cambiar predicciones

const estado = obtenerEstadoFase("grupos");
const editable = estado === "activa";

onAuthStateChanged(auth, async (user) => {
  if (!user) {
    window.location.href = "home.html";
    return;
  }
});

async function cargarPrediccionesGenerales() {

  const user = auth.currentUser;
  if (!user) return;

  const ref = doc(db, "predicciones", user.uid, "general", "datos");
  const snap = await getDoc(ref);

  if (!snap.exists()) return;

  const data = snap.data();

  selGanador.setValor(data.ganador);
  selFinalista.setValor(data.finalista);
}


function actualizarUIconPrediccionesGenerales(data) {

  if (!data) return;

  document.getElementById("inputGanador").value = data.ganador || "";
  document.getElementById("inputFinalista").value = data.finalista || "";
}


let gruposGlobal = {};
let grupos = {};


async function cargarGrupos() {
  const snapshot = await getDocs(collection(db, "partidos"));
  snapshot.forEach(doc => {
    const p = doc.data();
    if (!p.Fase.startsWith("Grupo")) return;
    if (!grupos[p.Fase]) grupos[p.Fase] = [];
    grupos[p.Fase].push(p);
  });
  gruposGlobal = grupos;
}


function obtenerEquipos(grupos) {

  const set = new Set();

  Object.values(grupos).forEach(partidos => {
    partidos.forEach(p => {
      set.add(p.Pais1);
      set.add(p.Pais2);
    });
  });

  return Array.from(set).sort();
}


function aplicarEstadoEdicion() {

  const estado = obtenerEstadoFase("grupos");
  const editable = estado === "activa";

  selGanador.setEditable(editable);
  selFinalista.setEditable(editable);
}

function crearSelector(container, equipos) {

  let seleccionado = null;

  container.innerHTML = `
    <div class="selector-input">Seleccionar...</div>
    <div class="dropdown"></div>
  `;

  const input = container.querySelector(".selector-input");
  const dropdown = container.querySelector(".dropdown");

  function renderOpciones(filtro = "") {

    dropdown.innerHTML = "";

    equipos
      .filter(eq => eq.toLowerCase().includes(filtro.toLowerCase()))
      .forEach(eq => {

        const codigo = codigos_pais[eq];

        const div = document.createElement("div");
        div.className = "opcion";

        div.innerHTML = `
          <img src="https://flagcdn.com/w40/${codigo}.png">
          ${eq}
        `;

        div.onclick = () => {
          seleccionado = eq;
          input.innerHTML = `
            <img src="https://flagcdn.com/w40/${codigo}.png">
            ${eq}
          `;
          container.classList.remove("open");
        };

        dropdown.appendChild(div);
      });
  }

  input.onclick = () => {
    container.classList.toggle("open");
    renderOpciones();
  };

  // 🔥 búsqueda escribiendo
  input.contentEditable = true;

  input.oninput = () => {
    renderOpciones(input.textContent);
  };

  // cerrar al hacer click fuera
  document.addEventListener("click", e => {
    if (!container.contains(e.target)) {
      container.classList.remove("open");
    }
  });

  return {
    getValor: () => seleccionado,
    setValor: (eq) => {
      if (!eq) return;
      const codigo = codigos_pais[eq];
      seleccionado = eq;
      input.innerHTML = `
        <img src="https://flagcdn.com/w40/${codigo}.png">
        ${eq}
      `;
    },
    setEditable: (editable) => {
      input.contentEditable = editable;
      input.style.opacity = editable ? "1" : "0.6";
    }
  };
}

await cargarGrupos();
const equipos = obtenerEquipos(gruposGlobal);

const selGanador = crearSelector(
  document.querySelector('[data-tipo="ganador"]'),
  equipos
);

const selFinalista = crearSelector(
  document.querySelector('[data-tipo="finalista"]'),
  equipos
);


import { generarCuadroEliminatorias } from "../static/js/pipeline_eliminatorias.js";

const btn = document.getElementById("btnSimular");
const contenedor_bracket = document.getElementById("bracket");

let partidosGlobal = {};

const estructura = {
  izquierda: {
    dieciseisavos: [74,77,73,75,83,84,81,82],
    octavos: [89,90,93,94],
    cuartos: [97,98],
    semis: [101]
  },
  derecha: {
    dieciseisavos: [86,88,85,87,76,78,79,80],
    octavos: [95,96,91,92],
    cuartos: [100,99],
    semis: [102]
  },
  centro: {
    final: [104],
    tercer: [103]
  }
};

guardarGenerales.onclick = async () => {

  const user = auth.currentUser;
  if (!user) return alert("Inicia sesión");

  const ganador = selGanador.getValor();
  const finalista = selFinalista.getValor();

  await setDoc(
    doc(db, "predicciones", user.uid, "general", "datos"),
    { ganador, finalista }
  );

  alert("Guardado");
};


// document.getElementById("guardarGenerales").onclick = async () => {

//   const user = auth.currentUser;

//   if (!user) {
//     alert("Debes iniciar sesión");
//     return;
//   }

//   if (!editable) {
//     alert("La fase no está activa");
//     return;
//   }

//   const ganador = document.getElementById("inputGanador").value;
//   const finalista = document.getElementById("inputFinalista").value;

//   await setDoc(
//     doc(db, "predicciones", user.uid, "general", "datos"),
//     {
//       ganador,
//       finalista
//     }
//   );

//   alert("Predicción general guardada");
// };


function renderBracket(partidos) {

  contenedor_bracket.innerHTML = "";

  const izq = crearLado(estructura.izquierda, partidos, false);
  const der = crearLado(estructura.derecha, partidos, true);

  const centro = crearCentro(partidos);

  contenedor_bracket.appendChild(izq);
  contenedor_bracket.appendChild(centro);
  contenedor_bracket.appendChild(der);
}


function crearLado(config, partidos, invertido = false) {

  const lado = document.createElement("div");
  lado.className = "lado";

  let rondas = Object.entries(config);

  // 🔥 invertir orden para el lado derecho
  if (invertido) {
    rondas = rondas.reverse();
    // lado.style.flexDirection = "row-reverse";
  }


  rondas.forEach(([ronda, partidosNums]) => {

    const col = document.createElement("div");
    col.className = "ronda";

    partidosNums.forEach(num => {
      col.appendChild(crearPartidoBracket(num, partidos));
    });

    lado.appendChild(col);
  });

  return lado;
}


function crearCentro(partidos) {

  const div = document.createElement("div");
  div.className = "centro";

  estructura.centro.final.forEach(n => {
    const p = crearPartidoBracket(n, partidos);
    p.classList.add("final");
    div.appendChild(p);
  });

  estructura.centro.tercer.forEach(n => {
    div.appendChild(crearPartidoBracket(n, partidos));
  });

  return div;
}

function crearPartidoBracket(num, partidos) {

  const p = partidos[num];

  const div = document.createElement("div");
  div.className = "partido-bracket";

  const e1 = crearEquipo(p.Pais1, num, 1);
  const e2 = crearEquipo(p.Pais2, num, 2);

  if (p.ganador === p.Pais1) e1.classList.add("ganador");
  if (p.ganador === p.Pais2) e2.classList.add("ganador");

  div.appendChild(e1);
  div.appendChild(e2);

  return div;
}

function crearEquipo(nombre, numPartido, lado) {

  const div = document.createElement("div");
  div.className = "equipo";
  const codigo = codigos_pais[nombre];
  div.innerHTML = `<img class="bandera" src="https://flagcdn.com/w40/${codigo}.png">` || "-";

  div.onclick = () => {

    if (!nombre) return;

    const p = partidosGlobal[numPartido];

    if (lado === 1) {
      p.ganador = p.Pais1;
      p.perdedor = p.Pais2;
    } else {
      p.ganador = p.Pais2;
      p.perdedor = p.Pais1;
    }

    avanzarGanador(numPartido);

    renderBracket(partidosGlobal);
  };

  return div;
}

function avanzarGanador(num) {

  Object.values(emparejamientos).forEach(e => {

    if (e.pais1 === "W"+num) {
      partidosGlobal[e.Numero].Pais1 = partidosGlobal[num].ganador;
    }

    if (e.pais2 === "W"+num) {
      partidosGlobal[e.Numero].Pais2 = partidosGlobal[num].ganador;
    }

    if (e.pais1 === "L"+num) {
      partidosGlobal[e.Numero].Pais1 = partidosGlobal[num].perdedor;
    }

    if (e.pais2 === "L"+num) {
      partidosGlobal[e.Numero].Pais2 = partidosGlobal[num].perdedor;
    }

  });
}


cargarPrediccionesGenerales();
aplicarEstadoEdicion();

console.log(gruposGlobal);

</script>


</html>